# Git
.git/
.gitignore

# Virtual env
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Data (large file)
data/
outputs/

# Notebooks
notebooks/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
dist/
build/